*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
 font-family: "Calibri", "Courier New", monospace;
	background-image: url("assets/freedom.jpg");
	background-repeat: no-repeat;
 background-position: center center;
 background-attachment: fixed;
 text-align: center;
 justify-content: center;
	align-items: center;
 background-size: cover;
}

h1 {
	font-size: 78px;
 font-weight: lighter;
 line-height: 1.2;
 letter-spacing: 0.01em;
 font-variant: small-caps;
	padding: 4% 4% 3% 3%; 
}

h2 {
 font-size: 26px;
 line-height: 3;
 letter-spacing: 0.09em;
	font-style: italic;
}